# apiVersion: networking.k8s.io/v1
# kind: Ingress
# metadata:
#   name: backend-ingress
#   namespace: muchtodo
#   annotations:
#     ingress.kubernetes.io/rewrite-target: /
# spec:
#   rules:
#   - http: 
#       paths:
#       - path: /
#         pathType: Prefix
#         backend:
#           service:
#             name: backend-service
#             selector:
#               app: backend
#             port:
#               number: 3000

apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: muchtodo
spec:
  type: ClusterIP
  selector:
    app: backend 
  ports:
    - protocol: TCP
      port: 3000
      targetPort: 3000