apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-api
  namespace: muchtodo
spec:
  replicas: 2
  selector:
    matchLabels:
      app: muchtodo-backend
  template:
    metadata:
      labels:
        app: muchtodo-backend 
    spec:
      containers:
      - name: backend
        image: muchtodo-backend:latest
        imagePullPolicy: IfNotPresent
        envFrom:
        - configMapRef:
            name: backend-config
        - secretRef:
            name: backend-secret
        ports:
        - containerPort: 3000
        livenessProbe:
          httpGet:
            path: /health
            port: 3000
          initialDelaySeconds: 5
          periodSeconds: 10